/* GENERAL STYLES */


/* CONTENT STYLES */

div.main-container {
	margin: 0 auto;
	width: 75%;
}

.form-group {
	padding-top: 5px;
}

.input-submit-button {
	margin-top: 5px;
}

ul {
	padding: 0;
	list-style: none;	
	width: 25%;
}

.list-roll {
	float: right;
}

.remove-x-icon {
	padding-right: 5px;
}