/* GENERAL STYLES */


/* CONTENT STYLES */

div.main-container {
	margin: 0 auto;
	width: 75%;
}

.form-group {
	padding-top: 5px;
}

.input-submit-button {
	margin-top: 5px;
}

ul {
	padding: 0;
	list-style: none;	
	width: 25%;
}

li:before {
	content: "\e014";
	font-family: 'Glyphicons Halflings';
	font-size: 15px;
	margin-right: 5px;
}

.list-roll {
	float: right;
}